pipeline/Create Custom Fields.json
{
	"name": "Create Custom Fields",
	"properties": {
		"activities": [
			{
				"name": "Get Custom Fields",
				"type": "Lookup",
				"dependsOn": [],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "AzureMySqlSource",
						"query": {
							"value": "select * from migration_custom_fields\nwhere row_num between @{pipeline().parameters.iteration_start} and @{pipeline().parameters.iteration_stop}",
							"type": "Expression"
						},
						"queryTimeout": "02:00:00"
					},
					"dataset": {
						"referenceName": "RecoveryPlanner",
						"type": "DatasetReference",
						"parameters": {
							"db_name": {
								"value": "@pipeline().parameters.rp_db_name",
								"type": "Expression"
							},
							"server_name": {
								"value": "@pipeline().parameters.rp_server_name",
								"type": "Expression"
							}
						}
					},
					"firstRowOnly": false
				}
			},
			{
				"name": "ForEach Custom Field",
				"type": "ForEach",
				"dependsOn": [
					{
						"activity": "Get Custom Fields",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"items": {
						"value": "@activity('Get Custom Fields').output.value",
						"type": "Expression"
					},
					"activities": [
						{
							"name": "Append variable custom fields",
							"type": "AppendVariable",
							"dependsOn": [],
							"userProperties": [],
							"typeProperties": {
								"variableName": "insert_custom_fields_statements",
								"value": {
									"value": "string(@item())",
									"type": "Expression"
								}
							}
						}
					]
				}
			}
		],
		"parameters": {
			"iteration_start": {
				"type": "int"
			},
			"iteration_stop": {
				"type": "int"
			},
			"rp_db_name": {
				"type": "string"
			},
			"rp_server_name": {
				"type": "string"
			}
		},
		"variables": {
			"insert_custom_fields_statements": {
				"type": "Array"
			}
		},
		"folder": {
			"name": "Custom Fields"
		},
		"annotations": []
	}
}