pipeline/Create Portal configuration post migration.json
{
	"name": "Create Portal configuration post migration",
	"properties": {
		"activities": [
			{
				"name": "Create SecurityEntityModules",
				"type": "Script",
				"dependsOn": [],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"linkedServiceName": {
					"referenceName": "AzureSqlDatabase_Preparis_dev",
					"type": "LinkedServiceReference"
				},
				"typeProperties": {
					"scripts": [
						{
							"type": "Query",
							"text": {
								"value": "INSERT INTO [dbo].[azstudioSecurityEntityModules]\n           ([moduleId]\n           ,[entityId]\n           ,[dateTimeCreated]\n           ,[createdById]\n           ,[dateTimeLastModified]\n           ,[lastModifiedById])\n     VALUES\n        (\n            '@{variables('Agility Risk GUID')}'\n            , '@{pipeline().parameters.PortalEntityID}'\n            , CURRENT_TIMESTAMP\n            , '@{pipeline().parameters.CreatedByGUID}'\n            , CURRENT_TIMESTAMP\n            , '@{pipeline().parameters.CreatedByGUID}'\n        )\n    ,   (\n            '@{variables('Agility Exercise Manager GUID')}'\n            , '@{pipeline().parameters.PortalEntityID}'\n            , CURRENT_TIMESTAMP\n            , '@{pipeline().parameters.CreatedByGUID}'\n            , CURRENT_TIMESTAMP\n            , '@{pipeline().parameters.CreatedByGUID}'\n        )\n    ,   (\n            '@{variables('Agility Planner GUID')}'\n            , '@{pipeline().parameters.PortalEntityID}'\n            , CURRENT_TIMESTAMP\n            , '@{pipeline().parameters.CreatedByGUID}'\n            , CURRENT_TIMESTAMP\n            , '@{pipeline().parameters.CreatedByGUID}'\n        )\n    ,   (\n            '@{variables('Incident Manager GUID')}'\n            , '@{pipeline().parameters.PortalEntityID}'\n            , CURRENT_TIMESTAMP\n            , '@{pipeline().parameters.CreatedByGUID}'\n            , CURRENT_TIMESTAMP\n            , '@{pipeline().parameters.CreatedByGUID}'\n        )",
								"type": "Expression"
							}
						}
					],
					"scriptBlockExecutionTimeout": "02:00:00"
				}
			},
			{
				"name": "Create Portal Industry Entry",
				"type": "Script",
				"dependsOn": [],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"linkedServiceName": {
					"referenceName": "AzureSqlDatabase_Preparis_dev",
					"type": "LinkedServiceReference"
				},
				"typeProperties": {
					"scripts": [
						{
							"type": "Query",
							"text": {
								"value": "INSERT INTO [dbo].[bcPortalIndustry]\n           ([portalId]\n           ,[industryId]\n           ,[dateTimeCreated]\n           ,[createdById]\n           ,[dateTimeLastModified]\n           ,[lastModifiedById])\n     VALUES\n        (\n            '@{pipeline().parameters.PortalEntityID}'\n            , '@{variables('bcIndustry Generic GUID')}'\n            , CURRENT_TIMESTAMP\n            , '@{pipeline().parameters.CreatedByGUID}'\n            , CURRENT_TIMESTAMP\n            , '@{pipeline().parameters.CreatedByGUID}'\n        )",
								"type": "Expression"
							}
						}
					],
					"scriptBlockExecutionTimeout": "02:00:00"
				}
			},
			{
				"name": "create bcPortalPlanTypes",
				"description": "e need to create a new entry in the the bcPortalPlanTypes table for the portal you created and for the Business Continuity plan type.",
				"type": "Script",
				"dependsOn": [],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"linkedServiceName": {
					"referenceName": "AzureSqlDatabase_Preparis_dev",
					"type": "LinkedServiceReference"
				},
				"typeProperties": {
					"scripts": [
						{
							"type": "Query",
							"text": {
								"value": "INSERT INTO [dbo].[bcPortalPlanTypes]\n           ([portalPlanTypeId]\n           ,[portalId]\n           ,[planTypeId]\n           ,[dateTimeCreated]\n           ,[createdById]\n           ,[dateTimeLastModified]\n           ,[lastModifiedById]\n           ,[portalPlanTypeStatusTypeId])\n     VALUES\n           (NEWID()\n           ,'@{pipeline().parameters.PortalEntityID}'\n           ,'b1bac3a9-992b-4bfe-adff-72bd9bfe6db6'\n           , CURRENT_TIMESTAMP\n           , '@{pipeline().parameters.CreatedByGUID}'\n           , CURRENT_TIMESTAMP\n           , '@{pipeline().parameters.CreatedByGUID}'\n           ,'ab727771-44c6-4e3c-bcf7-6f7c37673aaa')",
								"type": "Expression"
							}
						}
					],
					"scriptBlockExecutionTimeout": "02:00:00"
				}
			},
			{
				"name": "Lookup Site Type",
				"type": "Lookup",
				"dependsOn": [],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "AzureMySqlSource",
						"query": "select * from migration_site_type",
						"queryTimeout": "02:00:00"
					},
					"dataset": {
						"referenceName": "RecoveryPlanner",
						"type": "DatasetReference",
						"parameters": {
							"db_name": {
								"value": "@pipeline().parameters.mysql_db_name",
								"type": "Expression"
							},
							"server_name": {
								"value": "@pipeline().parameters.mysql_db_server",
								"type": "Expression"
							}
						}
					},
					"firstRowOnly": false
				}
			},
			{
				"name": "ForEach Site Type",
				"type": "ForEach",
				"dependsOn": [
					{
						"activity": "Lookup Site Type",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"items": {
						"value": "@activity('Lookup Site Type').output.value",
						"type": "Expression"
					},
					"activities": [
						{
							"name": "Create Site Type",
							"type": "Script",
							"dependsOn": [],
							"policy": {
								"timeout": "0.12:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"linkedServiceName": {
								"referenceName": "AzureSqlDatabase_Preparis_dev",
								"type": "LinkedServiceReference"
							},
							"typeProperties": {
								"scripts": [
									{
										"type": "Query",
										"text": {
											"value": "INSERT INTO [dbo].[azstudioEntitySettings]\n           ([settingId]\n           ,[settingTypeId]\n           ,[entityId]\n           ,[userStringTypeId]\n           ,[settingValue]\n           ,[dateTimeCreated]\n           ,[createdById]\n           ,[dateTimeLastModified]\n           ,[lastModifiedById])\n     VALUES\n           ('@{item().newSettingId}'\n           ,'6dc816ea-8c2b-4438-b6a6-718cb6a4d824'\n           ,'@{item().newSiteId}'\n           ,'00000000-0000-0000-0000-000000000000'\n           ,'@{item().azstudioSettings_value}'\n           , CURRENT_TIMESTAMP\n           , '@{pipeline().parameters.CreatedByGUID}'\n           , CURRENT_TIMESTAMP\n           , '@{pipeline().parameters.CreatedByGUID}'\n\t)",
											"type": "Expression"
										}
									}
								],
								"scriptBlockExecutionTimeout": "02:00:00"
							}
						}
					]
				}
			},
			{
				"name": "Create PortalFunctionalAreas And Processes",
				"type": "ExecutePipeline",
				"dependsOn": [],
				"policy": {
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"pipeline": {
						"referenceName": "Create PortalFunctionalAreas And Processes",
						"type": "PipelineReference"
					},
					"waitOnCompletion": true,
					"parameters": {
						"CompanyName": {
							"value": "@pipeline().parameters.CompanyName",
							"type": "Expression"
						},
						"PortalEntityID": {
							"value": "@pipeline().parameters.PortalEntityID",
							"type": "Expression"
						}
					}
				}
			}
		],
		"parameters": {
			"PortalEntityID": {
				"type": "string"
			},
			"CreatedByGUID": {
				"type": "string"
			},
			"CompanyName": {
				"type": "string"
			},
			"mysql_db_name": {
				"type": "string"
			},
			"mysql_db_server": {
				"type": "string"
			}
		},
		"variables": {
			"Agility Risk GUID": {
				"type": "String",
				"defaultValue": "33999ddb-70b9-47dd-9ba8-664144fd50cc"
			},
			"Agility Exercise Manager GUID": {
				"type": "String",
				"defaultValue": "aed76c86-8fa2-48e0-b6cd-abc8ffa1f50a"
			},
			"Agility Planner GUID": {
				"type": "String",
				"defaultValue": "5b4646af-d662-42af-9cde-e3f7e2c3ecb5"
			},
			"Incident Manager GUID": {
				"type": "String",
				"defaultValue": "6a55f235-61b7-40e5-bfe8-f6821309abab"
			},
			"bcIndustry Generic GUID": {
				"type": "String",
				"defaultValue": "56397415-6ac4-4c21-9101-e95158e9aac5"
			},
			"bcSite GUID": {
				"type": "String"
			}
		},
		"folder": {
			"name": "Portal"
		},
		"annotations": [],
		"lastPublishTime": "2024-03-25T19:01:40Z"
	},
	"type": "Microsoft.DataFactory/factories/pipelines"
}