pipeline/Create Custom Fields Partitioned.json
{
	"name": "Create Custom Fields Partitioned",
	"properties": {
		"activities": [
			{
				"name": "Build Migration Tables",
				"type": "Lookup",
				"dependsOn": [],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "AzureMySqlSource",
						"query": "/*custom field type mapping*/\r\nDROP TABLE IF EXISTS migration_custom_fields_types_mapping;\r\n\r\nCREATE TABLE IF NOT EXISTS migration_custom_fields_types_mapping as\r\n(\r\nselect a.rp_area_type, a.rp_descr, a.preparis_type, a.preparis_descr\r\nfrom\r\n(select t.* from\r\n(values\r\nrow(5, 'user', '0741ab49-72f7-4555-b93c-b462cbd96007', 'User'),\r\nrow(19, 'function', '72bf9737-378a-4171-bfb1-deef31a7f9f9', 'Biusiness Continiuty'),\r\nrow(3, 'resource', 'ea473ce9-8796-4d7d-b74d-a154a56c1d5f', 'Biusiness Continiuty Technology')) t (rp_area_type, rp_descr, preparis_type, preparis_descr)) a);\r\n\r\n/*custom fields data types mapping*/\r\nDROP TABLE IF EXISTS migration_custom_fields_data_types_mapping;\r\n\r\nCREATE TABLE IF NOT EXISTS migration_custom_fields_data_types_mapping as\r\n(\r\nselect a.rp_type, a.rp_descr, a.preparis_type, a.preparis_descr\r\nfrom\r\n(select t.* from\r\n(values\r\nrow(10, 'DATE', '1eccbe40-1b3b-461b-95df-35f1fe6a8af2', 'DateTime'),\r\nrow(2, 'ShortText', '0f6f2372-1e4c-4d67-ad13-615a0540488c', 'ShortText'),\r\nrow(3, 'RADIO', 'aad6f035-05f9-42d3-b6ea-682371340875', 'SelectOne'),\r\nrow(0, 'PICKLIST', 'aad6f035-05f9-42d3-b6ea-682371340875', 'SelectOne'),\r\nrow(5, 'MULTISELECT', '76c83029-8439-42ad-90e6-7f0ff54b732c', 'SelectMany'),\r\nrow(1, 'CHECKBOX', 'd8bd3d80-d25d-4056-8754-a740f2396792', 'TrueFalse'),\r\nrow(4, 'TEXTBOX', 'b9847d16-19b5-4ed4-a4e3-d7f07533ab5a', 'LongText'),\r\nrow(9, 'NUMERIC', '5f31785c-4d3c-4d68-a834-da37c2bc0a76', 'Numeric')) t (rp_type, rp_descr, preparis_type, preparis_descr)) a);\r\n\r\n\r\n/* Process custom fields */\r\nDROP TABLE IF EXISTS migration_custom_fields;\r\n\r\nCREATE TABLE IF NOT EXISTS migration_custom_fields as\r\n(\r\nselect\r\nROW_NUMBER() OVER (ORDER BY cf.id) row_num,\r\ncf.id,\r\ncf.areaType,\r\ncf.name,\r\ncf.required isRequired,\r\ncfdtm.preparis_type customFieldDataTypeId,\r\ncftm.preparis_type customFieldTypeId,\r\ncf.possition displaySequence,\r\nuuid() newCustomFieldId\r\nfrom t_custom_field cf\r\njoin migration_custom_fields_data_types_mapping cfdtm on cf.type = cfdtm.rp_type\r\njoin migration_custom_fields_types_mapping cftm on cf.areaType = cftm.rp_area_type);\r\n\r\n\r\n/* process custom fields options */\r\nDROP TABLE IF EXISTS migration_custom_fields_options;\r\n\r\nCREATE TABLE IF NOT EXISTS migration_custom_fields_options as\r\n(\r\nselect\r\nROW_NUMBER() OVER (ORDER BY cfch.id) row_num,\r\ncfch.id,\r\ncfch.field_id,\r\nmcf.areaType,\r\ncfch.name optionName,\r\ncfch.possition displaySequence,\r\n0 isDefault,\r\n'b5da6970-6125-4904-b87f-c39187d4fd8a' customFieldOptionStatusTypeId /*Active*/,\r\nmcf.newCustomFieldId,\r\nuuid() newCustomFieldOptionId\r\n from migration_custom_fields mcf\r\njoin t_custom_field_choice cfch on mcf.id = cfch.field_id);\r\n\r\n\r\nselect count(*) cfCount from migration_custom_fields;",
						"queryTimeout": "02:00:00"
					},
					"dataset": {
						"referenceName": "RecoveryPlanner",
						"type": "DatasetReference",
						"parameters": {
							"db_name": {
								"value": "@pipeline().globalParameters.rp_db_name",
								"type": "Expression"
							},
							"server_name": {
								"value": "@pipeline().globalParameters.rp_server_name",
								"type": "Expression"
							}
						}
					}
				}
			},
			{
				"name": "Lookup Iteration Data CF",
				"type": "ExecutePipeline",
				"dependsOn": [
					{
						"activity": "Build Migration Tables",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"pipeline": {
						"referenceName": "Lookup Iteration Data",
						"type": "PipelineReference"
					},
					"waitOnCompletion": true,
					"parameters": {
						"tableName": "migration_custom_fields"
					}
				}
			},
			{
				"name": "ForEach Custom Field in batch",
				"description": "For Each Recovery Planner User Custom Field Batch",
				"type": "ForEach",
				"dependsOn": [
					{
						"activity": "Lookup Iteration Data CF",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"items": {
						"value": "@activity('Lookup Iteration Data CF').output.pipelineReturnValue.iteration_data_array",
						"type": "Expression"
					},
					"isSequential": false,
					"activities": [
						{
							"name": "Create Custom Fields",
							"type": "ExecutePipeline",
							"dependsOn": [],
							"policy": {
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"pipeline": {
									"referenceName": "Create Custom Fields",
									"type": "PipelineReference"
								},
								"waitOnCompletion": true,
								"parameters": {
									"iteration_start": {
										"value": "@item().iteration_start",
										"type": "Expression"
									},
									"iteration_stop": {
										"value": "@item().iteration_stop",
										"type": "Expression"
									},
									"portalId": {
										"value": "@pipeline().parameters.currentPortalId",
										"type": "Expression"
									}
								}
							}
						}
					]
				}
			}
		],
		"parameters": {
			"currentPortalId": {
				"type": "string"
			}
		},
		"variables": {
			"iteration_start": {
				"type": "Integer",
				"defaultValue": 0
			},
			"iteration_stop": {
				"type": "Integer",
				"defaultValue": 0
			},
			"insert_custom_fields_statements": {
				"type": "Array"
			},
			"rp_area_type": {
				"type": "Integer"
			}
		},
		"folder": {
			"name": "Custom Fields"
		},
		"annotations": []
	}
}