pipeline/Create ITDR portalPlanType.json
{
	"name": "Create ITDR portalPlanType",
	"properties": {
		"activities": [
			{
				"name": "Set output portalPlanTypeId",
				"type": "SetVariable",
				"dependsOn": [
					{
						"activity": "Create or Get ITDR portalPlanTypeId",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"variableName": "pipelineReturnValue",
					"value": [
						{
							"key": "portalPlanTypeId",
							"value": {
								"type": "Expression",
								"content": "@activity('Create or Get ITDR portalPlanTypeId').output"
							}
						}
					],
					"setSystemVariable": true
				}
			},
			{
				"name": "Create or Get ITDR portalPlanTypeId",
				"type": "Script",
				"dependsOn": [],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"linkedServiceName": {
					"referenceName": "AzureSqlDatabase_Preparis_dev",
					"type": "LinkedServiceReference"
				},
				"typeProperties": {
					"scripts": [
						{
							"type": "Query",
							"text": {
								"value": "if not exists \n(select 1 from bcPortalPlanTypes\n where portalId = '@{pipeline().parameters.currentPortalId}'\n    and portalPlanTypeStatusTypeId = 'ab727771-44c6-4e3c-bcf7-6f7c37673aaa' /*Active*/\n    and planTypeId = 'a5a1b20b-bbce-425e-b4ef-04e065cf3288' /*Disaster Recovery*/)\nbegin\ninsert into bcPortalPlanTypes\n(\n    portalPlanTypeId,\n    portalId,\n    planTypeId,\n    portalPlanTypeStatusTypeId,\n    dateTimeCreated,\n    createdById\n)\nvalues\n(\n    NEWID(),\n    '@{pipeline().parameters.currentPortalId}',\n    'a5a1b20b-bbce-425e-b4ef-04e065cf3288', /*Disaster Recovery*/\n    'ab727771-44c6-4e3c-bcf7-6f7c37673aaa', /*Active*/\n    CURRENT_TIMESTAMP,\n    '@{pipeline().globalParameters.preparisCreatedById}'\n)    \nend\n\nselect portalPlanTypeId from bcPortalPlanTypes\nwhere\nportalId = '@{pipeline().parameters.currentPortalId}'\nand portalPlanTypeStatusTypeId = 'ab727771-44c6-4e3c-bcf7-6f7c37673aaa' /*Active*/\nand planTypeId = 'a5a1b20b-bbce-425e-b4ef-04e065cf3288' /*Disaster Recovery*/",
								"type": "Expression"
							}
						}
					],
					"scriptBlockExecutionTimeout": "02:00:00"
				}
			}
		],
		"parameters": {
			"currentPortalId": {
				"type": "string",
				"defaultValue": null
			}
		},
		"variables": {
			"portalPlanTypeId": {
				"type": "String"
			},
			"insertSQL": {
				"type": "Array"
			}
		},
		"folder": {
			"name": "ITDR"
		},
		"annotations": []
	}
}