pipeline/Create Custom Fields Options Partitioned.json
{
	"name": "Create Custom Fields Options Partitioned",
	"properties": {
		"activities": [
			{
				"name": "Lookup Iteration Data CF Options",
				"type": "ExecutePipeline",
				"dependsOn": [],
				"policy": {
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"pipeline": {
						"referenceName": "Lookup Iteration Data",
						"type": "PipelineReference"
					},
					"waitOnCompletion": true,
					"parameters": {
						"tableName": "migration_custom_fields_options",
						"rp_db_name": {
							"value": "@pipeline().parameters.rp_db_name",
							"type": "Expression"
						},
						"rp_server_name": {
							"value": "@pipeline().parameters.rp_server_name",
							"type": "Expression"
						}
					}
				}
			},
			{
				"name": "ForEach Custom Field Option in Batch",
				"type": "ForEach",
				"dependsOn": [
					{
						"activity": "Lookup Iteration Data CF Options",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"items": {
						"value": "@activity('Lookup Iteration Data CF Options').output.pipelineReturnValue.iteration_data_array",
						"type": "Expression"
					},
					"isSequential": false,
					"activities": [
						{
							"name": "Set CF Options Iteration Start",
							"type": "SetVariable",
							"dependsOn": [],
							"policy": {
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"variableName": "iteration_start",
								"value": {
									"value": "@item().iteration_start",
									"type": "Expression"
								}
							}
						},
						{
							"name": "Set CF Options Iteration Stop",
							"type": "SetVariable",
							"dependsOn": [],
							"policy": {
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"variableName": "iteration_stop",
								"value": {
									"value": "@item().iteration_stop",
									"type": "Expression"
								}
							}
						},
						{
							"name": "Execute Create Custom Field Options",
							"type": "ExecutePipeline",
							"dependsOn": [
								{
									"activity": "Set CF Options Iteration Start",
									"dependencyConditions": [
										"Succeeded"
									]
								},
								{
									"activity": "Set CF Options Iteration Stop",
									"dependencyConditions": [
										"Succeeded"
									]
								}
							],
							"policy": {
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"pipeline": {
									"referenceName": "Create Custom Fields Options",
									"type": "PipelineReference"
								},
								"waitOnCompletion": true,
								"parameters": {
									"iteration_start": {
										"value": "@variables('iteration_start')",
										"type": "Expression"
									},
									"iteration_stop": {
										"value": "@variables('iteration_stop')",
										"type": "Expression"
									},
									"rp_db_name": {
										"value": "@pipeline().parameters.rp_db_name",
										"type": "Expression"
									},
									"rp_server_name": {
										"value": "@pipeline().parameters.rp_server_name",
										"type": "Expression"
									}
								}
							}
						}
					]
				}
			}
		],
		"parameters": {
			"rp_db_name": {
				"type": "string"
			},
			"rp_server_name": {
				"type": "string"
			},
			"createdById": {
				"type": "string"
			},
			"portalId": {
				"type": "string"
			},
			"customFieldStatusTypeId": {
				"type": "string"
			},
			"rpCustomFieldType": {
				"type": "int"
			}
		},
		"variables": {
			"rp_area_type": {
				"type": "Integer"
			},
			"iteration_stop": {
				"type": "Integer"
			},
			"insert_custom_field_option_statements": {
				"type": "Array"
			},
			"iteration_start": {
				"type": "Integer"
			}
		},
		"folder": {
			"name": "Custom Fields"
		},
		"annotations": []
	}
}