pipeline/Create Custom Fields User Values Partitioned.json
{
	"name": "Create Custom Fields User Values Partitioned",
	"properties": {
		"activities": [
			{
				"name": "LUP Iteration Data CFV",
				"type": "ExecutePipeline",
				"dependsOn": [
					{
						"activity": "LUP Migration Tables Custom Fields Values",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"pipeline": {
						"referenceName": "Lookup Iteration Data",
						"type": "PipelineReference"
					},
					"waitOnCompletion": true,
					"parameters": {
						"tableName": "migration_user_custom_fields_values"
					}
				}
			},
			{
				"name": "FE Iteration in CFV",
				"type": "ForEach",
				"dependsOn": [
					{
						"activity": "LUP Iteration Data CFV",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"items": {
						"value": "@activity('LUP Iteration Data CFV').output.pipelineReturnValue.iteration_data_array",
						"type": "Expression"
					},
					"isSequential": false,
					"activities": [
						{
							"name": "EP Create Custom Fields User Values",
							"type": "ExecutePipeline",
							"dependsOn": [],
							"policy": {
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"pipeline": {
									"referenceName": "Create Custom Fields User Values",
									"type": "PipelineReference"
								},
								"waitOnCompletion": true,
								"parameters": {
									"iteration_start": {
										"value": "@item().iteration_start",
										"type": "Expression"
									},
									"iteration_stop": {
										"value": "@item().iteration_stop",
										"type": "Expression"
									},
									"currentPortalId": {
										"value": "@pipeline().parameters.currentPortalId",
										"type": "Expression"
									},
									"rpCustomFieldType": {
										"value": "@variables('rpCustomFieldType')",
										"type": "Expression"
									}
								}
							}
						}
					]
				}
			},
			{
				"name": "LUP Migration Tables Custom Fields Values",
				"type": "Lookup",
				"dependsOn": [],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "AzureMySqlSource",
						"query": "DROP TABLE IF EXISTS migration_user_custom_fields_values;\r\n\r\nCREATE TABLE IF NOT EXISTS migration_user_custom_fields_values as\r\n(\r\nselect\r\n    ROW_NUMBER() OVER (ORDER BY user_id) row_num, t.*\r\n    from\r\n    (select\r\n    uuid() newCustomFieldValueId,\r\n    cv.user_id,\r\n    cv.field_id,\r\n    mcf.areaType,\r\n    case when mcf.customFieldDataTypeId = '0f6f2372-1e4c-4d67-ad13-615a0540488c'/*ShortText*/ then convert(cv.text, char(4000)) else\r\n    case when mcf.customFieldDataTypeId = 'd8bd3d80-d25d-4056-8754-a740f2396792'/*TrueFalse*/ then convert((cv.checked = 1), char(4000)) else\r\n        case when mcf.customFieldDataTypeId = 'b9847d16-19b5-4ed4-a4e3-d7f07533ab5a'/*LongText*/ then convert(cv.textArea, char(4000)) else\r\n            case when mcf.customFieldDataTypeId = '1eccbe40-1b3b-461b-95df-35f1fe6a8af2'/*DateTime*/ then convert(cv.date, char(4000)) \r\n                end end end end userValue,\r\n    ud.newUserId,\r\n    mcf.newCustomFieldId\r\n    from t_custom_value cv\r\n    join migration_all_user_data ud on ud.userId = cv.user_id\r\n    join migration_custom_fields mcf on mcf.id = cv.field_id\r\n    where mcf.areaType = @{variables('rpCustomFieldType')}\r\n    and mcf.customFieldDataTypeId in ('0f6f2372-1e4c-4d67-ad13-615a0540488c', 'd8bd3d80-d25d-4056-8754-a740f2396792', 'b9847d16-19b5-4ed4-a4e3-d7f07533ab5a', '1eccbe40-1b3b-461b-95df-35f1fe6a8af2')\r\nunion\r\n-- add picklist values\r\n    select \r\n    uuid() newCustomFieldValueId,\r\n    cv.user_id,\r\n    cv.field_id,\r\n    mcf.areaType,\r\n    convert(cfc.name, char(4000)) userValue,\r\n    ud.newUserId,\r\n    mcf.newCustomFieldId\r\n    from t_custom_value cv\r\n    join t_custom_field_choice cfc on cv.choice_id = cfc.id\r\n    join migration_all_user_data ud on ud.userId = cv.user_id\r\n    join migration_custom_fields mcf on mcf.id = cv.field_id\r\n    where user_id is not null\r\n    and mcf.areaType = @{variables('rpCustomFieldType')}\r\n    and mcf.customFieldDataTypeId = 'aad6f035-05f9-42d3-b6ea-682371340875' /*PICKLIST*/);\r\n\r\nselect count(*) customFieldsCount from migration_user_custom_fields_values;",
						"queryTimeout": "02:00:00"
					},
					"dataset": {
						"referenceName": "RecoveryPlanner",
						"type": "DatasetReference",
						"parameters": {
							"db_name": {
								"value": "@pipeline().globalParameters.rp_db_name",
								"type": "Expression"
							},
							"server_name": {
								"value": "@pipeline().globalParameters.rp_server_name",
								"type": "Expression"
							}
						}
					}
				}
			}
		],
		"parameters": {
			"currentPortalId": {
				"type": "string"
			}
		},
		"variables": {
			"userLocationsStatements": {
				"type": "Array"
			}
		},
		"folder": {
			"name": "Custom Fields"
		},
		"annotations": []
	}
}