pipeline/Create Custom Fields Options.json
{
	"name": "Create Custom Fields Options",
	"properties": {
		"activities": [
			{
				"name": "Get CF Options for Iteration",
				"type": "Lookup",
				"dependsOn": [],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "AzureMySqlSource",
						"query": {
							"value": "select row_num\n, name\n, displaySequence\n, newCustomFieldId customFieldId\n, newCustomFieldOptionId customFieldOptionId\n from migration_custom_fields_options\nwhere areaType = @{pipeline().parameters.rpCustomFieldType}\nand row_num between @{pipeline().parameters.iteration_start} and @{pipeline().parameters.iteration_stop}",
							"type": "Expression"
						},
						"queryTimeout": "02:00:00"
					},
					"dataset": {
						"referenceName": "RecoveryPlanner",
						"type": "DatasetReference",
						"parameters": {
							"db_name": {
								"value": "@pipeline().parameters.rp_db_name",
								"type": "Expression"
							},
							"server_name": {
								"value": "@pipeline().parameters.rp_server_name",
								"type": "Expression"
							}
						}
					},
					"firstRowOnly": false
				}
			},
			{
				"name": "ForEach Custom Field Option",
				"type": "ForEach",
				"dependsOn": [
					{
						"activity": "Get CF Options for Iteration",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"items": {
						"value": "@activity('Get CF Options for Iteration').output.value",
						"type": "Expression"
					},
					"activities": [
						{
							"name": "Append variable custom fields",
							"type": "AppendVariable",
							"dependsOn": [],
							"userProperties": [],
							"typeProperties": {
								"variableName": "insert_custom_field_option_statements",
								"value": {
									"value": "insert into ppPortalCustomFieldOption\n(customFieldOptionId\n, customFieldId\n, optionName\n, isDefault\n, displaySequence\n, customFieldOptionStatusTypeId\n, dateTimeCreated\n, createdById)\nVALUES\n(\n@{item().customFieldOptionId}\n, @{item().customFieldId}\n, @{item().name}\n, case when @{item().displaySequence} = 0 then 1 else 0 end isDefault\n, @{item().displaySequence}\n, CURRENT_TIMESTAMP\n, @{pipeline().parameters.createdById}\n)",
									"type": "Expression"
								}
							}
						}
					]
				}
			},
			{
				"name": "Insert Custom Field Options Batch",
				"type": "Script",
				"dependsOn": [
					{
						"activity": "ForEach Custom Field Option",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"linkedServiceName": {
					"referenceName": "AzureSqlDatabase_Preparis_dev",
					"type": "LinkedServiceReference"
				},
				"typeProperties": {
					"scripts": [
						{
							"type": "Query",
							"text": {
								"value": "@join(variables('insert_custom_field_option_statements'),';')",
								"type": "Expression"
							}
						}
					],
					"scriptBlockExecutionTimeout": "02:00:00"
				}
			}
		],
		"parameters": {
			"iteration_start": {
				"type": "int"
			},
			"iteration_stop": {
				"type": "int"
			},
			"rp_db_name": {
				"type": "string"
			},
			"rp_server_name": {
				"type": "string"
			},
			"createdById": {
				"type": "string"
			},
			"portalId": {
				"type": "string"
			},
			"customFieldOptionStatusTypeId": {
				"type": "string",
				"defaultValue": "b5da6970-6125-4904-b87f-c39187d4fd8a"
			},
			"rpCustomFieldType": {
				"type": "int"
			}
		},
		"variables": {
			"rp_area_type": {
				"type": "Integer"
			},
			"iteration_stop": {
				"type": "Integer"
			},
			"insert_custom_field_option_statements": {
				"type": "Array"
			}
		},
		"folder": {
			"name": "Custom Fields"
		},
		"annotations": []
	}
}