pipeline/Create Custom Fields User Values Partitioned.json
{
	"name": "Create Custom Fields User Values Partitioned",
	"properties": {
		"activities": [
			{
				"name": "LUP Iteration Data CFV",
				"type": "ExecutePipeline",
				"dependsOn": [
					{
						"activity": "LUP Migration Tables Custom Fields Values",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"pipeline": {
						"referenceName": "Lookup Iteration Data",
						"type": "PipelineReference"
					},
					"waitOnCompletion": true,
					"parameters": {
						"tableName": "migration_custom_fields_values"
					}
				}
			},
			{
				"name": "FE Iteration in CFV",
				"type": "ForEach",
				"dependsOn": [
					{
						"activity": "LUP Iteration Data CFV",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"items": {
						"value": "@activity('LUP Iteration Data CFV').output.pipelineReturnValue.iteration_data_array",
						"type": "Expression"
					},
					"isSequential": false,
					"activities": [
						{
							"name": "EP Create Custom Fields User Values",
							"type": "ExecutePipeline",
							"dependsOn": [],
							"policy": {
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"pipeline": {
									"referenceName": "Create Custom Fields User Values",
									"type": "PipelineReference"
								},
								"waitOnCompletion": true,
								"parameters": {
									"iteration_start": {
										"value": "@item().iteration_start",
										"type": "Expression"
									},
									"iteration_stop": {
										"value": "@item().iteration_stop",
										"type": "Expression"
									},
									"currentPortalId": {
										"value": "@pipeline().parameters.currentPortalId",
										"type": "Expression"
									}
								}
							}
						}
					]
				}
			},
			{
				"name": "LUP Migration Tables Custom Fields Values",
				"type": "Lookup",
				"dependsOn": [],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "AzureMySqlSource",
						"query": {
							"value": "/*\nDROP TABLE IF EXISTS migration_custom_fields_values;\n*/\n\nCREATE TABLE IF NOT EXISTS migration_custom_fields_values\n(\n    row_num INT,\n    newCustomFieldValueId CHAR(38),\n    user_id INT,\n    field_Id INT,\n    areaType INT,\n    fieldValue text(4000),\n    newUserId CHAR(38),\n    newCustomFieldId CHAR(38),\n    userCustomFieldStatusTypeId CHAR(38)\n);\n\ndelete from migration_custom_fields_values\nwhere areaType = @{variables('rpCustomFieldType')};\n\ninsert into migration_custom_fields_values\nselect\n    ROW_NUMBER() OVER (ORDER BY cv.id) row_num,\n    uuid() newCustomFieldValueId,\n    cv.user_id,\n    cv.field_id,\n    mcf.areaType,\n    case when mcf.customFieldDataTypeId = '0f6f2372-1e4c-4d67-ad13-615a0540488c'/*ShortText*/ then CONVERT(cv.text, char(4000)) else\n    case when mcf.customFieldDataTypeId = 'd8bd3d80-d25d-4056-8754-a740f2396792'/*TrueFalse*/ then convert((cv.checked = 1), char(4000)) else\n    case when mcf.customFieldDataTypeId = 'b9847d16-19b5-4ed4-a4e3-d7f07533ab5a'/*LongText*/ then convert(cv.textArea, char(4000)) else\n    case when mcf.customFieldDataTypeId = '1eccbe40-1b3b-461b-95df-35f1fe6a8af2'/*DateTime*/ then convert(cv.date, char(4000)) \n    end end end end userValue,\n    ud.newUserId,\n    mcf.newCustomFieldId,\n    '0dd44108-690c-45ee-ad20-d15a322334cf' userCustomFieldStatusTypeId /*Active*/\nfrom t_custom_value cv\njoin migration_all_user_data ud on ud.userId = cv.user_id\njoin migration_custom_fields mcf on mcf.id = cv.field_id\nwhere mcf.areaType = @{variables('rpCustomFieldType')};\n\nselect 'DONE' as 'Lookup Activity Hack';",
							"type": "Expression"
						},
						"queryTimeout": "02:00:00"
					},
					"dataset": {
						"referenceName": "RecoveryPlanner",
						"type": "DatasetReference",
						"parameters": {
							"db_name": {
								"value": "@pipeline().globalParameters.rp_db_name",
								"type": "Expression"
							},
							"server_name": {
								"value": "@pipeline().globalParameters.rp_server_name",
								"type": "Expression"
							}
						}
					}
				}
			}
		],
		"parameters": {
			"currentPortalId": {
				"type": "string"
			}
		},
		"variables": {
			"rp_area_type": {
				"type": "Integer"
			},
			"userCustomFieldStatusTypeId": {
				"type": "String",
				"defaultValue": "0dd44108-690c-45ee-ad20-d15a322334cf"
			},
			"rpCustomFieldType": {
				"type": "Integer",
				"defaultValue": 19
			}
		},
		"folder": {
			"name": "Custom Fields"
		},
		"annotations": []
	}
}