pipeline/Create Custom Fields Partitioned.json
{
	"name": "Create Custom Fields Partitioned",
	"properties": {
		"activities": [
			{
				"name": "Build Migration Tables",
				"type": "Lookup",
				"dependsOn": [],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "AzureMySqlSource",
						"query": {
							"value": "/*\nDROP TABLE IF EXISTS migration_custom_fields_data_types_mapping;\nDROP TABLE IF EXISTS migration_custom_fields;\nDROP TABLE IF EXISTS migration_custom_fields_options;\nDROP TABLE IF EXISTS migration_custom_fields_types_mapping;\n*/\n\n/* the migration_custom_fields_data_types_mapping table can be created once\nand populated once\n*/\n\nCREATE TABLE IF NOT EXISTS migration_custom_fields_data_types_mapping\n(\n    rp_type INT,\n    rp_descr char(50),\n    preparis_type CHAR(38),\n    preparis_descr char(50)\n);\n\ninsert into migration_custom_fields_data_types_mapping\n(rp_type, rp_descr, preparis_type, preparis_descr)\nselect a.rp_type, a.rp_descr, a.preparis_type, a.preparis_descr\nfrom\n(select t.* from\n(values\nrow(10, 'DATE', '1eccbe40-1b3b-461b-95df-35f1fe6a8af2', 'DateTime'),\nrow(2, 'ShortText', '0f6f2372-1e4c-4d67-ad13-615a0540488c', 'ShortText'),\nrow(3, 'RADIO', 'aad6f035-05f9-42d3-b6ea-682371340875', 'SelectOne'),\nrow(0, 'PICKLIST', 'aad6f035-05f9-42d3-b6ea-682371340875', 'SelectOne'),\nrow(5, 'MULTISELECT', '76c83029-8439-42ad-90e6-7f0ff54b732c', 'SelectMany'),\nrow(1, 'CHECKBOX', 'd8bd3d80-d25d-4056-8754-a740f2396792', 'TrueFalse'),\nrow(4, 'TEXTBOX', 'b9847d16-19b5-4ed4-a4e3-d7f07533ab5a', 'LongText'),\nrow(9, 'NUMERIC', '5f31785c-4d3c-4d68-a834-da37c2bc0a76', 'Numeric')) t (rp_type, rp_descr, preparis_type, preparis_descr)) a\nleft join migration_custom_fields_data_types_mapping b on b.rp_type = a.rp_type\nwhere b.rp_type is null;\n\n/*custom field type mapping*/\nCREATE TABLE IF NOT EXISTS migration_custom_fields_types_mapping\n(\n    rp_area_type INT,\n    rp_descr char(50),\n    preparis_type CHAR(38),\n    preparis_descr char(50)\n);\n\ninsert into migration_custom_fields_types_mapping\n(rp_area_type, rp_descr, preparis_type, preparis_descr)\nselect a.rp_area_type, a.rp_descr, a.preparis_type, a.preparis_descr\nfrom\n(select t.* from\n(values\nrow(5, 'user', '0741ab49-72f7-4555-b93c-b462cbd96007', 'user')) t (rp_area_type, rp_descr, preparis_type, preparis_descr)) a\nleft join migration_custom_fields_types_mapping b on b.rp_area_type = a.rp_area_type\nwhere b.rp_area_type is null;\n\n/* Process custom fields */\n\nCREATE TABLE IF NOT EXISTS migration_custom_fields\n(\n    row_num INT,\n    id INT,\n    areaType INT,\n    name char(255),\n    isRequired TINYINT(1),\n    customFieldDataTypeId CHAR(38),\n    customFieldTypeId CHAR(38),\n    displaySequence SMALLINT,\n    newCustomFieldId CHAR(38)\n);\n\ndelete from migration_custom_fields\nwhere areaType = @{pipeline().parameters.rpCustomFieldType};\n\ninsert into migration_custom_fields\n(row_num, id, areaType, name, isRequired, customFieldDataTypeId, customFieldTypeId, displaySequence, newCustomFieldId)\nselect\nROW_NUMBER() OVER (ORDER BY cf.id) row_num,\ncf.id,\ncf.areaType,\ncf.name,\ncf.required isRequired,\ncfdtm.preparis_type customFieldDataTypeId,\ncftm.preparis_type customFieldTypeId,\ncf.possition displaySequence,\nuuid()\nfrom t_custom_field cf\njoin migration_custom_fields_data_types_mapping cfdtm on cf.type = cfdtm.rp_type\njoin migration_custom_fields_types_mapping cftm on cf.areaType = cftm.rp_area_type\nwhere areaType = @{pipeline().parameters.rpCustomFieldType};\n\n/* process custom fields options */\n\nCREATE TABLE IF NOT EXISTS migration_custom_fields_options\n(\n    row_num INT,\n    id INT,\n    field_id INT,\n    areaType INT,\n    name char(255),\n    displaySequence SMALLINT,\n    isDefault TINYINT(1),\n    customFieldOptionStatusTypeId CHAR(38),\n    newCustomFieldId CHAR(38),\n    newCustomFieldOptionId CHAR(38)\n);\n\ndelete from migration_custom_fields_options\nwhere areaType = @{pipeline().parameters.rpCustomFieldType};\n\ninsert into migration_custom_fields_options\nselect\nROW_NUMBER() OVER (ORDER BY cfch.id) row_num,\ncfch.id,\nmcf.areaType,\ncfch.field_id,\ncfch.name optionName,\ncfch.possition displaySequence,\n0 isDefault,\n'b5da6970-6125-4904-b87f-c39187d4fd8a' customFieldOptionStatusTypeId /*Active*/,\nmcf.newCustomFieldId,\nuuid() newCustomFieldOptionId\n from migration_custom_fields mcf\njoin t_custom_field_choice cfch on mcf.id = cfch.field_id\nwhere mcf.areaType = @{pipeline().parameters.rpCustomFieldType};\n\n\nselect 'DONE' as 'Lookup Activity Hack';",
							"type": "Expression"
						},
						"queryTimeout": "02:00:00"
					},
					"dataset": {
						"referenceName": "RecoveryPlanner",
						"type": "DatasetReference",
						"parameters": {
							"db_name": {
								"value": "@pipeline().globalParameters.rp_db_name",
								"type": "Expression"
							},
							"server_name": {
								"value": "@pipeline().globalParameters.rp_server_name",
								"type": "Expression"
							}
						}
					}
				}
			},
			{
				"name": "Lookup Iteration Data CF",
				"type": "ExecutePipeline",
				"dependsOn": [
					{
						"activity": "Build Migration Tables",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"pipeline": {
						"referenceName": "Lookup Iteration Data",
						"type": "PipelineReference"
					},
					"waitOnCompletion": true,
					"parameters": {
						"tableName": "migration_custom_fields"
					}
				}
			},
			{
				"name": "ForEach Custom Field in batch",
				"description": "For Each Recovery Planner User Custom Field Batch",
				"type": "ForEach",
				"dependsOn": [
					{
						"activity": "Lookup Iteration Data CF",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"items": {
						"value": "@activity('Lookup Iteration Data CF').output.pipelineReturnValue.iteration_data_array",
						"type": "Expression"
					},
					"isSequential": false,
					"activities": [
						{
							"name": "Create Custom Fields",
							"type": "ExecutePipeline",
							"dependsOn": [],
							"policy": {
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"pipeline": {
									"referenceName": "Create Custom Fields",
									"type": "PipelineReference"
								},
								"waitOnCompletion": true,
								"parameters": {
									"iteration_start": {
										"value": "@item().iteration_start",
										"type": "Expression"
									},
									"iteration_stop": {
										"value": "@item().iteration_stop",
										"type": "Expression"
									},
									"portalId": {
										"value": "@pipeline().parameters.currentPortalId",
										"type": "Expression"
									},
									"rpCustomFieldType": {
										"value": "@pipeline().parameters.rpCustomFieldType",
										"type": "Expression"
									}
								}
							}
						}
					]
				}
			}
		],
		"parameters": {
			"currentPortalId": {
				"type": "string"
			},
			"rpCustomFieldType": {
				"type": "int"
			}
		},
		"variables": {
			"iteration_start": {
				"type": "Integer",
				"defaultValue": 0
			},
			"iteration_stop": {
				"type": "Integer",
				"defaultValue": 0
			},
			"insert_custom_fields_statements": {
				"type": "Array"
			},
			"rp_area_type": {
				"type": "Integer"
			}
		},
		"folder": {
			"name": "Custom Fields"
		},
		"annotations": []
	}
}