pipeline/Doc Create Files.json
{
	"name": "Doc Create Files",
	"properties": {
		"activities": [
			{
				"name": "Iteration Data",
				"type": "Lookup",
				"dependsOn": [],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "AzureMySqlSource",
						"query": {
							"value": "select newItemId, name, newParentItemId\n from @{pipeline().parameters.file_table_name}\nwhere row_num between @{pipeline().parameters.iteration_start} and @{pipeline().parameters.iteration_stop};",
							"type": "Expression"
						},
						"queryTimeout": "02:00:00"
					},
					"dataset": {
						"referenceName": "RecoveryPlanner",
						"type": "DatasetReference",
						"parameters": {
							"db_name": {
								"value": "@pipeline().globalParameters.rp_db_name",
								"type": "Expression"
							},
							"server_name": {
								"value": "@pipeline().globalParameters.rp_server_name",
								"type": "Expression"
							}
						}
					},
					"firstRowOnly": false
				}
			},
			{
				"name": "ForEach1",
				"type": "ForEach",
				"dependsOn": [
					{
						"activity": "Iteration Data",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"items": {
						"value": "@activity('Iteration Data').output.value",
						"type": "Expression"
					},
					"batchCount": 10,
					"activities": [
						{
							"name": "Create File",
							"type": "WebActivity",
							"dependsOn": [
								{
									"activity": "Copy Plan from RP to Blob",
									"dependencyConditions": [
										"Succeeded"
									]
								}
							],
							"policy": {
								"timeout": "0.12:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": []
						},
						{
							"name": "Copy Plan from RP to Blob",
							"type": "Copy",
							"dependsOn": [],
							"policy": {
								"timeout": "0.12:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"source": {
									"type": "BinarySource",
									"storeSettings": {
										"type": "HttpReadSettings",
										"requestMethod": "GET"
									},
									"formatSettings": {
										"type": "BinaryReadSettings"
									}
								},
								"sink": {
									"type": "BinarySink",
									"storeSettings": {
										"type": "AzureBlobStorageWriteSettings"
									}
								},
								"enableStaging": false
							},
							"inputs": [
								{
									"referenceName": "Binary_RecoveryPlannerPlan",
									"type": "DatasetReference"
								}
							],
							"outputs": [
								{
									"referenceName": "Binary_PreparisDocument",
									"type": "DatasetReference",
									"parameters": {
										"documentIdGuid": {
											"value": "@variables('thisDocumentId')",
											"type": "Expression"
										},
										"fileName": {
											"value": "@concat(pipeline().parameters.plan_name,'.zip')",
											"type": "Expression"
										},
										"baseUrl": {
											"value": "@pipeline().globalParameters.PreparisStorageAccountBaseUrl",
											"type": "Expression"
										}
									}
								}
							]
						}
					]
				}
			}
		],
		"parameters": {
			"iteration_start": {
				"type": "int"
			},
			"iteration_stop": {
				"type": "int"
			},
			"preparisSessionToken": {
				"type": "string"
			},
			"file_table_name": {
				"type": "string"
			},
			"rpSessionToken": {
				"type": "string"
			},
			"rpFileSourceUri": {
				"type": "string"
			}
		},
		"folder": {
			"name": "Files And Images"
		},
		"annotations": []
	}
}