pipeline/Get Portal Id By DB Name.json
{
	"name": "Get Portal Id By DB Name",
	"properties": {
		"activities": [
			{
				"name": "Execute Pipeline Get RP CompanyName",
				"type": "ExecutePipeline",
				"dependsOn": [],
				"policy": {
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"pipeline": {
						"referenceName": "Get RP CompanyName",
						"type": "PipelineReference"
					},
					"waitOnCompletion": true,
					"parameters": {
						"rp_server_name": {
							"value": "@pipeline().globalParameters.rp_server_name",
							"type": "Expression"
						},
						"rp_db_name": {
							"value": "@pipeline().globalParameters.rp_db_name",
							"type": "Expression"
						}
					}
				}
			},
			{
				"name": "Set variable CompanyName",
				"type": "SetVariable",
				"dependsOn": [
					{
						"activity": "Execute Pipeline Get RP CompanyName",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"variableName": "CompanyName",
					"value": {
						"value": "@activity('Execute Pipeline Get RP CompanyName').output.pipelineReturnValue.CompanyName",
						"type": "Expression"
					}
				}
			},
			{
				"name": "Execute Pipeline Get Preparis PortalID",
				"type": "ExecutePipeline",
				"dependsOn": [
					{
						"activity": "Set variable CompanyName",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"pipeline": {
						"referenceName": "Get Preparis Portal ID",
						"type": "PipelineReference"
					},
					"waitOnCompletion": true,
					"parameters": {
						"companyName": {
							"value": "@variables('CompanyName')",
							"type": "Expression"
						}
					}
				}
			},
			{
				"name": "Pipeline Return value",
				"type": "SetVariable",
				"dependsOn": [
					{
						"activity": "Execute Pipeline Get Preparis PortalID",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"variableName": "pipelineReturnValue",
					"value": [
						{
							"key": "currentPortalId",
							"value": {
								"type": "Expression",
								"content": "@activity('Execute Pipeline Get Preparis PortalID').output.pipelineReturnValue.portalEntityId"
							}
						}
					],
					"setSystemVariable": true
				}
			}
		],
		"variables": {
			"CompanyName": {
				"type": "String",
				"defaultValue": "''"
			}
		},
		"folder": {
			"name": "common"
		},
		"annotations": []
	}
}