pipeline/Migrate Strategy Employees.json
{
	"name": "Migrate Strategy Employees",
	"properties": {
		"activities": [
			{
				"name": "Process Strategy Employees",
				"type": "Lookup",
				"dependsOn": [],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "AzureMySqlSource",
						"query": {
							"value": "Select \nportalProcessStrategyEmployeeId\n, portalProcessStrategyId\n, userId\nfrom migration_Strategy_Employee\nwhere row_num between\n@{pipeline().parameters.iterationStart}\nand @{pipeline().parameters.iterationStop}",
							"type": "Expression"
						},
						"queryTimeout": "02:00:00"
					},
					"dataset": {
						"referenceName": "RecoveryPlanner",
						"type": "DatasetReference",
						"parameters": {
							"db_name": {
								"value": "@pipeline().globalParameters.rp_db_name",
								"type": "Expression"
							},
							"server_name": {
								"value": "@pipeline().globalParameters.rp_server_name",
								"type": "Expression"
							}
						}
					},
					"firstRowOnly": false
				}
			},
			{
				"name": "Process Strategy Employee",
				"type": "ForEach",
				"dependsOn": [
					{
						"activity": "Process Strategy Employees",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"items": {
						"value": "@activity('Process Strategy Employees').output.value",
						"type": "Expression"
					},
					"activities": [
						{
							"name": "Insert Process Strategy Employee Script",
							"type": "AppendVariable",
							"dependsOn": [],
							"userProperties": [],
							"typeProperties": {
								"variableName": "insertProcessStrategyEmployee",
								"value": {
									"value": "insert into bcPortalProcessStrategyEmployee\n (\n    portalProcessStrategyEmployeeId\n    , portalProcessStrategyId\n    , userId\n    , processStrategyResourceStatusTypeId\n    , dateTimeCreated\n    , createdById\n )\n VALUES\n (\n    '@{item().portalProcessStrategyEmployeeId}'\n    , '@{item().portalProcessStrategyId}'\n    , '@{item().userId}'\n    , 'dfa05d5e-7ec3-4d2e-8170-bbad882951c5' /*Active*/\n    , CURRENT_TIMESTAMP\n    , '@{pipeline().globalParameters.preparisCreatedById}'\n )",
									"type": "Expression"
								}
							}
						}
					]
				}
			},
			{
				"name": "Execute Insert",
				"type": "Script",
				"dependsOn": [
					{
						"activity": "Process Strategy Employee",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"linkedServiceName": {
					"referenceName": "AzureSqlDatabase_Preparis_dev",
					"type": "LinkedServiceReference"
				},
				"typeProperties": {
					"scripts": [
						{
							"type": "Query",
							"text": {
								"value": "@join(variables('insertProcessStrategyEmployee'), ',')",
								"type": "Expression"
							}
						}
					],
					"scriptBlockExecutionTimeout": "02:00:00"
				}
			},
			{
				"name": "Insert list is not empty",
				"type": "IfCondition",
				"dependsOn": [],
				"userProperties": []
			}
		],
		"parameters": {
			"iterationStart": {
				"type": "int"
			},
			"iterationStop": {
				"type": "int"
			}
		},
		"variables": {
			"insertProcessStrategyEmployee": {
				"type": "Array"
			}
		},
		"folder": {
			"name": "BC/Strategies"
		},
		"annotations": []
	}
}