pipeline/Migrate ITDR Vendors.json
{
	"name": "Migrate ITDR Vendors",
	"properties": {
		"activities": [
			{
				"name": "Iteration Technology Vendors",
				"type": "Lookup",
				"dependsOn": [],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "AzureMySqlSource",
						"query": {
							"value": "select\nnewPortalPlanTechnologyTaskSetId,\nnewPortalPlanTechnologyTaskId,\nconcat(tp, ' - ', replace(task_name, '''','''''')) task_name,\n0 sequence_num\nfrom migration_itdr_task_set_tasks t\nwhere row_num between\n@{pipeline().parameters.iteration_start}\nand @{pipeline().parameters.iteration_stop}\n",
							"type": "Expression"
						},
						"queryTimeout": "02:00:00"
					},
					"dataset": {
						"referenceName": "RecoveryPlanner",
						"type": "DatasetReference",
						"parameters": {
							"db_name": {
								"value": "@pipeline().globalParameters.rp_db_name",
								"type": "Expression"
							},
							"server_name": {
								"value": "@pipeline().globalParameters.rp_server_name",
								"type": "Expression"
							}
						}
					},
					"firstRowOnly": false
				}
			},
			{
				"name": "Vendor",
				"type": "ForEach",
				"dependsOn": [
					{
						"activity": "Iteration Technology Vendors",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"items": {
						"value": "@activity('Iteration TaskSet Tasks').output.value",
						"type": "Expression"
					},
					"activities": [
						{
							"name": "vendorSQL",
							"type": "AppendVariable",
							"dependsOn": [],
							"userProperties": [],
							"typeProperties": {
								"variableName": "vendorSQL",
								"value": {
									"value": "insert into bcPortalPlanTechnologyVendor\n(\n    portalPlanTechnologyVendorId,\n    portalPlanTechnologyId,\n    vendorId,\n    portalPlanTechnologyVendorStatusTypeId,\n    dateTimeCreated,\n    createdById\n)\nvalues\n(\n    '@{item().newPortalPlanTechnologyVendorId}',\n    '@{item().newPortalPlanTechnologyId}',\n    '@{item().newVendorId}',\n    '409833f6-cbb0-4531-b3d9-dbfb8703f2ca', /*Active*/\n    CURRENT_TIMESTAMP,\n    '@{pipeline().globalParameters.preparisCreatedById}'\n)",
									"type": "Expression"
								}
							}
						}
					]
				}
			},
			{
				"name": "Vendors not empty",
				"type": "IfCondition",
				"dependsOn": [
					{
						"activity": "Vendor",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"expression": {
						"value": "@greater(length(variables('teamsSQL')), 0)",
						"type": "Expression"
					},
					"ifTrueActivities": [
						{
							"name": "Insert Vendors",
							"type": "Script",
							"dependsOn": [],
							"policy": {
								"timeout": "0.12:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"linkedServiceName": {
								"referenceName": "AzureSqlDatabase_Preparis_dev",
								"type": "LinkedServiceReference"
							},
							"typeProperties": {
								"scripts": [
									{
										"type": "Query",
										"text": {
											"value": "@join(variables('vendorSQL'), ';')",
											"type": "Expression"
										}
									}
								],
								"scriptBlockExecutionTimeout": "02:00:00"
							}
						}
					]
				}
			}
		],
		"parameters": {
			"iteration_start": {
				"type": "int"
			},
			"iteration_stop": {
				"type": "int"
			}
		},
		"variables": {
			"vendorSQL": {
				"type": "Array"
			}
		},
		"folder": {
			"name": "ITDR"
		},
		"annotations": []
	}
}