pipeline/Migrate ITDR Technologies Partitioned.json
{
	"name": "Migrate ITDR Technologies Partitioned",
	"properties": {
		"activities": [
			{
				"name": "Lookup iteration data",
				"type": "ExecutePipeline",
				"dependsOn": [],
				"policy": {
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"pipeline": {
						"referenceName": "Lookup Iteration Data",
						"type": "PipelineReference"
					},
					"waitOnCompletion": true,
					"parameters": {
						"tableName": "migration_itdr_technologies"
					}
				}
			},
			{
				"name": "Iteration",
				"type": "ForEach",
				"dependsOn": [
					{
						"activity": "Lookup iteration data",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"items": {
						"value": "@activity('Lookup iteration data').output.pipelineReturnValue.iteration_data_array",
						"type": "Expression"
					},
					"isSequential": false,
					"activities": [
						{
							"name": "Migrate ITDR Technology",
							"type": "ExecutePipeline",
							"dependsOn": [],
							"policy": {
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"pipeline": {
									"referenceName": "Migrate ITDR Technologies",
									"type": "PipelineReference"
								},
								"waitOnCompletion": true,
								"parameters": {
									"currentPortalId": {
										"value": "@pipeline().parameters.currentPortalId",
										"type": "Expression"
									},
									"iterationStart": {
										"value": "@item().iteration_start",
										"type": "Expression"
									},
									"iterationStop": {
										"value": "@item().iteration_stop",
										"type": "Expression"
									},
									"portalPlanTypeId": {
										"value": "@pipeline().parameters.portalPlanTypeId",
										"type": "Expression"
									}
								}
							}
						}
					]
				}
			}
		],
		"parameters": {
			"currentPortalId": {
				"type": "string"
			},
			"portalPlanTypeId": {
				"type": "string"
			}
		},
		"variables": {
			"taskSetInsertSql": {
				"type": "Array"
			}
		},
		"folder": {
			"name": "ITDR"
		},
		"annotations": []
	}
}