pipeline/Orchestrator Vendors.json
{
	"name": "Orchestrator Vendors",
	"properties": {
		"activities": [
			{
				"name": "Execute Pipeline Get RP CompanyName",
				"type": "ExecutePipeline",
				"dependsOn": [],
				"policy": {
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"pipeline": {
						"referenceName": "Get RP CompanyName",
						"type": "PipelineReference"
					},
					"waitOnCompletion": true
				}
			},
			{
				"name": "Set variable CompanyName",
				"type": "SetVariable",
				"dependsOn": [
					{
						"activity": "Execute Pipeline Get RP CompanyName",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"variableName": "CompanyName",
					"value": {
						"value": "@activity('Execute Pipeline Get RP CompanyName').output.pipelineReturnValue.CompanyName",
						"type": "Expression"
					}
				}
			},
			{
				"name": "Execute Pipeline Get Preparis PortalID",
				"type": "ExecutePipeline",
				"dependsOn": [
					{
						"activity": "Set variable CompanyName",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"pipeline": {
						"referenceName": "Get Preparis Portal ID",
						"type": "PipelineReference"
					},
					"waitOnCompletion": true,
					"parameters": {
						"companyName": {
							"value": "@variables('CompanyName')",
							"type": "Expression"
						}
					}
				}
			},
			{
				"name": "Set variable currentPortalId from DB_copy1",
				"type": "SetVariable",
				"dependsOn": [
					{
						"activity": "Execute Pipeline Get Preparis PortalID",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"variableName": "currentPortalId",
					"value": {
						"value": "@activity('Execute Pipeline Get Preparis PortalID').output.pipelineReturnValue.portalEntityId",
						"type": "Expression"
					}
				}
			},
			{
				"name": "Execute Pipeline Migrate Vendors",
				"type": "ExecutePipeline",
				"dependsOn": [
					{
						"activity": "Set variable currentPortalId from DB_copy1",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"pipeline": {
						"referenceName": "Migrate Vendors",
						"type": "PipelineReference"
					},
					"waitOnCompletion": true,
					"parameters": {
						"portalEntityId": {
							"value": "@variables('currentPortalId')",
							"type": "Expression"
						}
					}
				}
			}
		],
		"variables": {
			"CompanyName": {
				"type": "String"
			},
			"currentPortalId": {
				"type": "String"
			}
		},
		"annotations": [],
		"lastPublishTime": "2024-03-20T16:34:28Z"
	},
	"type": "Microsoft.DataFactory/factories/pipelines"
}