pipeline/Orchestrator RTOs.json
{
	"name": "Orchestrator RTOs",
	"properties": {
		"activities": [
			{
				"name": "Get Portal Id By DB Name",
				"type": "ExecutePipeline",
				"dependsOn": [],
				"policy": {
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"pipeline": {
						"referenceName": "Get Portal Id By DB Name",
						"type": "PipelineReference"
					},
					"waitOnCompletion": true,
					"parameters": {
						"rp_db_name": {
							"value": "@pipeline().globalParameters.rp_db_name",
							"type": "Expression"
						},
						"rp_server_name": {
							"value": "@pipeline().globalParameters.rp_server_name",
							"type": "Expression"
						}
					}
				}
			},
			{
				"name": "Current Portal Id",
				"type": "SetVariable",
				"dependsOn": [
					{
						"activity": "Get Portal Id By DB Name",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"variableName": "currentPortalId",
					"value": {
						"value": "@activity('Get Portal Id By DB Name').output.pipelineReturnValue.currentPortalId",
						"type": "Expression"
					}
				}
			},
			{
				"name": "Create RTO Intervals",
				"type": "ExecutePipeline",
				"dependsOn": [
					{
						"activity": "Current Portal Id",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"pipeline": {
						"referenceName": "RTO Intervals",
						"type": "PipelineReference"
					},
					"waitOnCompletion": true,
					"parameters": {
						"currentPortalId": {
							"value": "@variables('currentPortalId')",
							"type": "Expression"
						}
					}
				}
			},
			{
				"name": "Processes RTOs",
				"type": "ExecutePipeline",
				"dependsOn": [
					{
						"activity": "Create RTO Intervals",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"pipeline": {
						"referenceName": "Processes RTOs",
						"type": "PipelineReference"
					},
					"waitOnCompletion": true
				}
			},
			{
				"name": "Update Impact Categories",
				"type": "ExecutePipeline",
				"dependsOn": [
					{
						"activity": "Current Portal Id",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"pipeline": {
						"referenceName": "Update Impact Categories",
						"type": "PipelineReference"
					},
					"waitOnCompletion": true,
					"parameters": {
						"currentPortalId": {
							"value": "@variables('currentPortalId')",
							"type": "Expression"
						}
					}
				}
			}
		],
		"variables": {
			"currentPortalId": {
				"type": "String"
			},
			"insertRTOIntervalsSQL": {
				"type": "Array"
			}
		},
		"annotations": []
	}
}