pipeline/Orchestrator Plans.json
{
	"name": "Orchestrator Plans",
	"properties": {
		"activities": [
			{
				"name": "Execute Pipeline Get Document Migration Objects",
				"type": "ExecutePipeline",
				"dependsOn": [],
				"policy": {
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"pipeline": {
						"referenceName": "Get Document Migration Objects",
						"type": "PipelineReference"
					},
					"waitOnCompletion": true,
					"parameters": {
						"rp_db_name": {
							"value": "@pipeline().parameters.rp_db_name",
							"type": "Expression"
						},
						"rp_server_name": {
							"value": "@pipeline().parameters.rp_server_name",
							"type": "Expression"
						},
						"preparisBaseURL": {
							"value": "@pipeline().parameters.preparisBaseURL",
							"type": "Expression"
						},
						"preparisDeviceIdAsBase64": {
							"value": "@pipeline().parameters.preparisDeviceIdAsBase64",
							"type": "Expression"
						},
						"rpBaseURL": {
							"value": "@pipeline().parameters.rpBaseURL",
							"type": "Expression"
						},
						"rpRestUserName": {
							"value": "@pipeline().parameters.rpRestUserName",
							"type": "Expression"
						},
						"rpRestUserPassword": {
							"value": "@pipeline().parameters.rpRestUserPassword",
							"type": "Expression"
						},
						"rpClientId": {
							"value": "@pipeline().parameters.rpClientId",
							"type": "Expression"
						}
					}
				}
			},
			{
				"name": "Execute Pipeline Get or Create Plans Folder",
				"type": "ExecutePipeline",
				"dependsOn": [
					{
						"activity": "Execute Pipeline Get Document Migration Objects",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"pipeline": {
						"referenceName": "Get or Create Preparis Folder",
						"type": "PipelineReference"
					},
					"waitOnCompletion": true,
					"parameters": {
						"preparisBaseURL": {
							"value": "@pipeline().parameters.preparisBaseURL",
							"type": "Expression"
						},
						"preparisDeviceIdAsBase64": {
							"value": "@pipeline().parameters.preparisDeviceIdAsBase64",
							"type": "Expression"
						},
						"preparisSessionToken": {
							"value": "@activity('Execute Pipeline Get Document Migration Objects').output.pipelineReturnValue.preparisSessionToken",
							"type": "Expression"
						},
						"entityId": {
							"value": "@activity('Execute Pipeline Get Document Migration Objects').output.pipelineReturnValue.preparisCurrentPortalId",
							"type": "Expression"
						},
						"rootEntityId": {
							"value": "@activity('Execute Pipeline Get Document Migration Objects').output.pipelineReturnValue.preparisCurrentPortalId",
							"type": "Expression"
						},
						"folderId": {
							"value": "@activity('Execute Pipeline Get Document Migration Objects').output.pipelineReturnValue.preparisRootFolderId",
							"type": "Expression"
						},
						"portalId": {
							"value": "@activity('Execute Pipeline Get Document Migration Objects').output.pipelineReturnValue.preparisCurrentPortalId",
							"type": "Expression"
						},
						"folderName": "Plans",
						"parentFolderId": {
							"value": "@activity('Execute Pipeline Get Document Migration Objects').output.pipelineReturnValue.preparisRootFolderId",
							"type": "Expression"
						}
					}
				}
			},
			{
				"name": "Lookup distinct Plans",
				"type": "Lookup",
				"dependsOn": [
					{
						"activity": "Execute Pipeline Get or Create Plans Folder",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "AzureMySqlSource",
						"query": "/* distinct plans */\r\nwith plansWithoutDepartment as (\r\n    select p.id as plan_id,\r\n    replace(p.name, '''','''''') as plan_name,\r\n    DATE(p.lastUpdateDate) as LastUpdateDate\r\n    from t_plan p\r\n    where forEvent = 0\r\n)\r\n, dupePlanNames as (\r\n    select pwod.plan_name, count(pwod.plan_id)\r\n    from plansWithoutDepartment pwod\r\n    group by pwod.plan_name\r\n    having count(pwod.plan_id) > 1\r\n)\r\n, dupePlanData as (\r\n    select plan_id\r\n    , CONCAT(pwod.plan_name, '_', cast(LastUpdateDate as char)) as plan_name\r\n    , LastUpdateDate\r\n    from plansWithoutDepartment pwod\r\n    join dupePlanNames dpn on pwod.plan_name = dpn.plan_name \r\n)\r\n, noDupePlanData as(\r\n    select pwod.* \r\n    from plansWithoutDepartment pwod\r\n    left join dupePlanData dpd on pwod.plan_id = dpd.plan_id\r\n    where dpd.plan_id is null\r\n)\r\n\r\nselect * from dupePlanData\r\nunion\r\nselect * from noDupePlanData\r\n",
						"queryTimeout": "02:00:00"
					},
					"dataset": {
						"referenceName": "RecoveryPlanner",
						"type": "DatasetReference",
						"parameters": {
							"db_name": {
								"value": "@pipeline().parameters.rp_db_name",
								"type": "Expression"
							},
							"server_name": {
								"value": "@pipeline().parameters.rp_server_name",
								"type": "Expression"
							}
						}
					},
					"firstRowOnly": false
				}
			},
			{
				"name": "ForEach distinct Plan",
				"type": "ForEach",
				"dependsOn": [
					{
						"activity": "Lookup distinct Plans",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"items": {
						"value": "@activity('Lookup distinct Plans').output.value",
						"type": "Expression"
					},
					"isSequential": true,
					"activities": [
						{
							"name": "Execute Pipeline Create Plan Document",
							"type": "ExecutePipeline",
							"dependsOn": [],
							"policy": {
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"pipeline": {
									"referenceName": "Create Preparis Plan Document",
									"type": "PipelineReference"
								},
								"waitOnCompletion": true,
								"parameters": {
									"rpSessionToken": {
										"value": "@activity('Execute Pipeline Get Document Migration Objects').output.pipelineReturnValue.rpSessionToken",
										"type": "Expression"
									},
									"rpClientId": {
										"value": "@activity('Execute Pipeline Get Document Migration Objects').output.pipelineReturnValue.rpClientId",
										"type": "Expression"
									},
									"plan_id": {
										"value": "@item().plan_id",
										"type": "Expression"
									},
									"rpBaseURL": {
										"value": "@pipeline().parameters.rpBaseURL",
										"type": "Expression"
									},
									"rp_server_name": {
										"value": "@pipeline().parameters.rp_server_name",
										"type": "Expression"
									},
									"rp_db_name": {
										"value": "@pipeline().parameters.rp_db_name",
										"type": "Expression"
									},
									"preparisBaseURL": {
										"value": "@pipeline().parameters.preparisBaseURL",
										"type": "Expression"
									},
									"preparisDeviceIdAsBase64": {
										"value": "@pipeline().parameters.preparisDeviceIdAsBase64",
										"type": "Expression"
									},
									"preparisSessionToken": {
										"value": "@activity('Execute Pipeline Get Document Migration Objects').output.pipelineReturnValue.preparisSessionToken",
										"type": "Expression"
									},
									"preparisCurrentPortalId": {
										"value": "@activity('Execute Pipeline Get Document Migration Objects').output.pipelineReturnValue.preparisCurrentPortalId",
										"type": "Expression"
									},
									"plan_name": {
										"value": "@item().plan_name",
										"type": "Expression"
									},
									"preparisUserId": {
										"value": "@activity('Execute Pipeline Get Document Migration Objects').output.pipelineReturnValue.preparisUserId",
										"type": "Expression"
									},
									"preparisFolderGuid": {
										"value": "@activity('Execute Pipeline Get or Create Plans Folder').output.pipelineReturnValue.preparisFolderGuid",
										"type": "Expression"
									}
								}
							}
						}
					]
				}
			}
		],
		"parameters": {
			"rp_server_name": {
				"type": "string",
				"defaultValue": "recovery-planner-mysql-server.mysql.database.azure.com"
			},
			"rp_db_name": {
				"type": "string"
			},
			"preparisBaseURL": {
				"type": "string"
			},
			"preparisDeviceIdAsBase64": {
				"type": "string",
				"defaultValue": "cHJvZA=="
			},
			"baseFolderName": {
				"type": "string",
				"defaultValue": "Plans"
			},
			"rpBaseURL": {
				"type": "string"
			},
			"rpRestUserName": {
				"type": "string",
				"defaultValue": "RPSupport86421"
			},
			"rpRestUserPassword": {
				"type": "string",
				"defaultValue": "LS3l3cs*"
			},
			"rpClientId": {
				"type": "string"
			}
		},
		"annotations": [],
		"lastPublishTime": "2024-03-26T19:00:58Z"
	},
	"type": "Microsoft.DataFactory/factories/pipelines"
}