pipeline/Process Dependencies.json
{
	"name": "Process Dependencies",
	"properties": {
		"activities": [
			{
				"name": "Get RP Portal Dependencies",
				"type": "WebActivity",
				"dependsOn": [],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"url": {
						"value": "@{pipeline().globalParameters.rpBaseURL}aaa/",
						"type": "Expression"
					}
				}
			},
			{
				"name": "Get Old API RP Session Token",
				"type": "WebActivity",
				"dependsOn": [],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"method": "POST",
					"headers": {
						"Content-Type": "application/json"
					},
					"url": {
						"value": "@{pipeline().globalParameters.rpBaseURL}api/token",
						"type": "Expression"
					},
					"body": {
						"value": "{\n    \"rpClientId\": \"@{pipeline().globalParameters.rpClientId}\",\n    \"clientId\": \"@{pipeline().globalParameters.rpOldAPIClientId}\",\n    \"clientSecret\": \"@{pipeline().globalParameters.rpOldAPIClientSecret}\"\n}",
						"type": "Expression"
					}
				}
			},
			{
				"name": "Set variable rpSessionToken",
				"type": "SetVariable",
				"dependsOn": [
					{
						"activity": "Get Old API RP Session Token",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"variableName": "pipelineReturnValue",
					"value": [
						{
							"key": "rpSessionToken",
							"value": {
								"type": "Expression",
								"content": "@activity('Get RP Session Token').output.ADFWebActivityResponseHeaders['RpxSession-Id']"
							}
						}
					],
					"setSystemVariable": true
				}
			}
		],
		"folder": {
			"name": "BC"
		},
		"annotations": []
	}
}