pipeline/Processes RTOs.json
{
	"name": "Process Dependencies",
	"properties": {
		"activities": [
			{
				"name": "Get RP Portal Dependencies",
				"type": "WebActivity",
				"dependsOn": [
					{
						"activity": "Set variable rpJWT",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"method": "GET",
					"headers": {
						"Authorization": {
							"value": "@concat('Bearer ', variables('rpJWT'))",
							"type": "Expression"
						}
					},
					"url": {
						"value": "https://rpx-services-stg.recoveryplanner.us/api/v1/functions/1892?size=356&page=0",
						"type": "Expression"
					}
				}
			},
			{
				"name": "Get Old API RP Session Token",
				"type": "WebActivity",
				"dependsOn": [],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"method": "POST",
					"headers": {
						"Content-Type": "application/json"
					},
					"url": {
						"value": "https://rpx-services-stg.recoveryplanner.us/api/token",
						"type": "Expression"
					},
					"body": {
						"value": "{\n    \"rpClientId\": \"@{pipeline().globalParameters.rpClientId}\",\n    \"clientId\": \"@{pipeline().globalParameters.rpOldAPIClientId}\",\n    \"clientSecret\": \"@{pipeline().globalParameters.rpOldAPIClientSecret}\"\n}",
						"type": "Expression"
					}
				}
			},
			{
				"name": "Set variable rpJWT",
				"type": "SetVariable",
				"dependsOn": [
					{
						"activity": "Get Old API RP Session Token",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"variableName": "rpJWT",
					"value": {
						"value": "@activity('Get Old API RP Session Token').output.accessToken",
						"type": "Expression"
					}
				}
			}
		],
		"variables": {
			"rpJWT": {
				"type": "String"
			}
		},
		"folder": {
			"name": "BC"
		},
		"annotations": []
	}
}