pipeline/Technology Type Custom Fields.json
{
	"name": "Technology Type Custom Fields",
	"properties": {
		"activities": [
			{
				"name": "Iteration Technology Type custom Fields",
				"type": "Lookup",
				"dependsOn": [],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "AzureMySqlSource",
						"query": {
							"value": "select \nnewTechnologyTypeCustomFieldId,\ntechnologyTypeId,\nnewCustomFieldId\nfrom migration_custom_fields_vs_technology_type\nwhere row_num between\n@{pipeline().parameters.iteration_start}\nand @{pipeline().parameters.iteration_stop}",
							"type": "Expression"
						},
						"queryTimeout": "02:00:00"
					},
					"dataset": {
						"referenceName": "RecoveryPlanner",
						"type": "DatasetReference",
						"parameters": {
							"db_name": "marshall",
							"server_name": "recovery-planner-mysql-server.mysql.database.azure.com"
						}
					},
					"firstRowOnly": false
				}
			},
			{
				"name": "Technology Type Custom Field",
				"type": "ForEach",
				"dependsOn": [
					{
						"activity": "Iteration Technology Type custom Fields",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"items": {
						"value": "@activity('Iteration Technology Type custom Fields').output.value",
						"type": "Expression"
					},
					"activities": [
						{
							"name": "insertSQL",
							"type": "AppendVariable",
							"dependsOn": [],
							"userProperties": [],
							"typeProperties": {
								"variableName": "insertSQL",
								"value": {
									"value": "insert into bcTechnologyTypeCustomFields\n(\n    technologyTypeCustomFieldId,\n    technologyTypeId,\n    customFieldId,\n    dateTimeCreated,\n    createdById\n)\nvalues\n(\n    '@{item().newTechnologyTypeCustomFieldId}',\n    '@{item().technologyTypeId}',\n    '@{item().newCustomFieldId}',\n    CURRENT_TIMESTAMP,\n    '@{pipeline().globalParameters.preparisCreatedById}'\n)",
									"type": "Expression"
								}
							}
						}
					]
				}
			},
			{
				"name": "Insert",
				"type": "Script",
				"dependsOn": [
					{
						"activity": "Technology Type Custom Field",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"linkedServiceName": {
					"referenceName": "AzureSqlDatabase_Preparis_dev",
					"type": "LinkedServiceReference"
				},
				"typeProperties": {
					"scripts": [
						{
							"type": "Query",
							"text": {
								"value": "@join(variables('insertSQL'), ';')",
								"type": "Expression"
							}
						}
					],
					"scriptBlockExecutionTimeout": "02:00:00"
				}
			}
		],
		"parameters": {
			"iteration_start": {
				"type": "int"
			},
			"iteration_stop": {
				"type": "int"
			}
		},
		"variables": {
			"insertSQL": {
				"type": "Array"
			}
		},
		"folder": {
			"name": "ITDR/Technology Type Custom Fields"
		},
		"annotations": []
	}
}