pipeline/Update Impact Categories.json
{
	"name": "Update Impact Categories",
	"properties": {
		"activities": [
			{
				"name": "RP Impact Categories",
				"type": "Lookup",
				"dependsOn": [],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "AzureMySqlSource",
						"query": "select uuid() overrideSystemImpactCategoryId,\n replace(t.name, '''','''''') name,\n replace(t.description, '''','''''') description,\n numericValue\n   from t_detailed_outage_impact_type t\n   order by numericValue\n   limit 9;",
						"queryTimeout": "02:00:00"
					},
					"dataset": {
						"referenceName": "RecoveryPlanner",
						"type": "DatasetReference",
						"parameters": {
							"db_name": {
								"value": "@pipeline().globalParameters.rp_db_name",
								"type": "Expression"
							},
							"server_name": {
								"value": "@pipeline().globalParameters.rp_server_name",
								"type": "Expression"
							}
						}
					},
					"firstRowOnly": false
				}
			},
			{
				"name": "RP Impact Category",
				"type": "ForEach",
				"dependsOn": [
					{
						"activity": "RP Impact Categories",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"items": {
						"value": "@activity('RP Impact Categories').output.value",
						"type": "Expression"
					},
					"activities": [
						{
							"name": "Update Impact Categories",
							"type": "Script",
							"dependsOn": [],
							"policy": {
								"timeout": "0.12:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"linkedServiceName": {
								"referenceName": "AzureSqlDatabase_Preparis_dev",
								"type": "LinkedServiceReference"
							},
							"typeProperties": {
								"scripts": [
									{
										"type": "Query",
										"text": {
											"value": "insert into bcOverrideSystemImpactCategories\n(overrideSystemImpactCategoryId,\nportalId,\nimpactCategoryId,\ncategoryName,\ncategoryColor,\ncategoryDescription,\ndateTimeCreated,\ncreatedById)\nVALUES\n(\n    '@{item().overrideSystemImpactCategoryId}',\n    '@{pipeline().parameters.currentPortalId}',\n    (select impactCategoryId from bcImpactCategory where sequenceNbr = @{item().numericValue}),\n    '@{item().name}',\n    (select categoryColor from bcImpactCategory where sequenceNbr = @{item().numericValue}),\n    '@{item().description}',\n    CURRENT_TIMESTAMP,\n    '@{pipeline().globalParameters.preparisCreatedById}'\n);\n\ninsert into bcImpactCategoryTranslation\n(\n    impactCategoryTranslationId,\n    impactCategoryId,\n    categoryName,\n    categoryDescription,\n    languageCode,\n    overrideSystemImpactCategoryId,\n    dateTimeCreated,\n    createdById\n)\nvalues\n(\n    NEWID(),\n    (select impactCategoryId from bcImpactCategory where sequenceNbr = @{item().numericValue}),\n    '@{item().name}',\n    '@{item().description}',\n    'en',\n    '@{item().overrideSystemImpactCategoryId}',\n    CURRENT_TIMESTAMP,\n    '@{pipeline().globalParameters.preparisCreatedById}'\n)\n",
											"type": "Expression"
										}
									}
								],
								"scriptBlockExecutionTimeout": "02:00:00"
							}
						}
					]
				}
			},
			{
				"name": "Exclude System Impacts",
				"type": "Script",
				"dependsOn": [
					{
						"activity": "RP Impact Category",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"linkedServiceName": {
					"referenceName": "AzureSqlDatabase_Preparis_dev",
					"type": "LinkedServiceReference"
				},
				"typeProperties": {
					"scripts": [
						{
							"type": "Query",
							"text": {
								"value": "insert into bcExcludedSystemImpactCategories\n(excludedSystemImpactCatogoryId,\nportalId,\nimpactCategoryId,\ndateTimeCreated,\ncreatedById)\nSELECT\nNEWID(),\n'@{pipeline().parameters.currentPortalId}',\nic.impactCategoryId,\nCURRENT_TIMESTAMP,\n'@{pipeline().globalParameters.preparisCreatedById}'\nFROM \nbcImpactCategory ic\nleft join (\n   SELECT impactCategoryId\n   from bcOverrideSystemImpactCategories\n   where portalId = '@{pipeline().parameters.currentPortalId}}') osic on osic.impactCategoryId = ic.impactCategoryId\nwhere osic.impactCategoryId is null",
								"type": "Expression"
							}
						}
					],
					"scriptBlockExecutionTimeout": "02:00:00"
				}
			}
		],
		"parameters": {
			"currentPortalId": {
				"type": "string"
			}
		},
		"folder": {
			"name": "BC"
		},
		"annotations": []
	}
}